.container {
  text-align: center;
  height: 100vh;
}

.title
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #ffffff 0%,
    #07cd35 29%,
    #13fff3 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 50px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}



.title span {
  color: #26ffcb;
  padding-left: 15px;
  
}

.reset {
  width: 100px;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 50px;
  background: #1f3540;
  font-size: 22px;
  color: #ffffff;
  margin-top: 25px;
  margin-bottom: 25px

}

.boxes {
  display: flex;
  height: 100px;
  width: 100px;
  background: #fcffd5;
  border: 4px solid #0f1b21;
  border-radius: 10px;
  cursor: pointer;
}

.board {
  height: 350px;
  width: 454px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.boxes img {
  margin: 30px 30px;
}

.title img {
  width: 50px;
  height: 50px;
  margin: 0;
}
